{% extends 'base.html' %}

{% block content %}
{% include 'nav.html' %}

<section class="section">
    <section class="container">
        <div class="card">
            <div class="card-content">
                <h4>Your bid summary</h4>
                <table class="table responsive-table">
                    <thead>
                        <tr>
                            <th>Brand Name</th>
                            <th>Timestamp</th>
                            <th>$ Bidded</th>
                            <th>Quantity</th>
                            <th>Bid Details</th>
                            <th>Seller Details</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for b in bids %}
                            <tr>
                                <td>{{ b.placement.placement_company }}</td>
                                <td>{{ b.placementbid_created }}</td>
                                <td>{{ b.offer}}</td>
                                <td>{{ b.shares}}</td>
                                <td><a href="{% url 'app:Seller_profile'%}" style="margin-top: 1rem;" class="btn pink waves-effect waves-light">View Details</a></td>
                                <td>{% if b.confirmed %}<a href="{% url 'app:Seller_profile' %}" style="margin-top: 1rem;" class="btn waves-light waves-effect pink">Details</a>{%else%} <span class="chip indigo darken-2 white-text">Unconfirmed</span>       {%endif%} </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% comment %} <a href="{% url 'app:confirm-bids' %}" style="margin-top: 1rem;" class="btn waves-light waves-effect pink">Confirm Bids</a> {% endcomment %}
            </div>
        </div>

    </section>
</section>

{% include 'footer.html' %}
{% endblock content %}
