<footer class="page-footer indigo darken-2">
        <div class="container">
          <div class="row">
            <div class="col l4 s12">
              <h5 class="white-text">BIDDING STORE</h5>
              <p class="grey-text text-lighten-4 class="custom-font-1"">A bidding system in contract bridge is the set of agreements and understandings assigned to calls and sequences of calls used by a partnership, and includes a full description of the meaning of each treatment and convention.</p>
            </div>

            <div class="col l4 offset-l4 s12">
              <h5 class="white-text">Routes</h5>
              <ul  class="custom-font-1">
                <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Products</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Latest Products</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Terms & Conditions</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright pink lighten-1">
          <div class="container center custom-font-1">
          @2022 Copyright THE BIDDING STORE

          </div>
        </div>
      </footer>
          