{% extends 'base.html' %} {% block content %} {% include 'nav.html' %} {% load static %}

<div class="container mt-5">
    
  <div class="row d-flex justify-content-center">
      
      <div class="col-md-7">
          
          <div class="card p-3 py-4">
              
              <div class="text-center">
                  <img src="https://i.imgur.com/bDLhJiP.jpg" width="150" height="150" class="rounded-circle" >
              </div>
              
              <div class="text-center mt-3">
                  
                  <h5 class="mt-2 mb-0">Hafiz Zeeshan Naseer</h5>
                  <span>Product Seller</span>
                  
                  <div class="px-4 mt-1">
                      <p class="fonts">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                  
                  </div>
                  
                   <ul class="social-list">
                      <li><i class="fa fa-facebook"></i></li>
                      <li><i class="fa fa-dribbble"></i></li>
                      <li><i class="fa fa-instagram"></i></li>
                      <li><i class="fa fa-linkedin"></i></li>
                      <li><i class="fa fa-google"></i></li>
                  </ul>
                  
                  <div class="buttons">
                      
                      <button class="btn btn-outline-primary px-4">Message</button>
                      <button class="btn btn-primary px-4 ms-3">Contact</button>
                      <br><br><br><br><br>
                  </div>
                  
                  
              </div>
              
             
              
              
          </div>
          
      </div>
      
  </div>
  
</div>












{% include 'footer.html' %} {% endblock content %}